In [86]:
pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in /opt/anaconda3/lib/python3.8/site-packages (0.18.0)
Note: you may need to restart the kernel to use updated packages.

In [87]:
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [88]:
members = pd.read_csv('./data/cleaned_members.csv')

In [89]:
main = pd.read_csv('./data/senate_and_house.csv')

In [90]:
members.head()

,people,state,party,total_senate_years,total_house_years,total_years
0,James Abdnor,South Dakota,Republican,6,8,14
1,Neil Abercrombie,Hawaii,Democratic,0,22,22
2,James Abourezk,South Dakota,Democratic,6,2,8
3,"Ralph Abraham, Lee",Louisiana,Republican,0,6,6
4,Spencer Abraham,Michigan,Republican,6,0,6

In [91]:
main.head()

,Unnamed: 0,transaction_date,ticker,asset_description,type,amount,representative
0,4,2020-03-18,CBRE,CBRE Group Inc Common Stock Class A,sale_partial,"$1,001 - $15,000",Susie Lee
1,5,2020-03-24,CNC,Centene Corporation,purchase,"$1,001 - $15,000",Susie Lee
2,6,2020-03-31,DG,Dollar General Corporation,purchase,"$1,001 - $15,000",Susie Lee
3,10,2020-02-21,ENV,"Envestnet, Inc",sale_partial,"$1,001 - $15,000",Susie Lee
4,12,2020-03-17,LKQ,LKQ Corporation,sale_partial,"$1,001 - $15,000",Susie Lee

In [92]:
# def fuzzy_merge(main, members, representative, people, threshold=90, limit=2):
#     """
#     :param df_1: the left table to join
#     :param df_2: the right table to join
#     :param key1: key column of the left table
#     :param key2: key column of the right table
#     :param threshold: how close the matches should be to return a match, based on Levenshtein distance
#     :param limit: the amount of matches that will get returned, these are sorted high to low
#     :return: dataframe with boths keys and matches
#     """
#     s = members['people'].tolist()
    
#     m = main['representative'].apply(lambda x: process.extract(x, s, limit=limit))    
#     main['matches'] = m
    
#     m2 = main['matches'].apply(lambda x: ', '.join([i[0] for i in x if i[1] >= threshold]))
#     main['matches'] = m2
    
#     return main

In [93]:
# unique in main
names_in_main = main.representative.unique()

# made into a list 
names = []
for name in names_in_main:
    names.append(name)
type(names)

#list of members df 
member_names = []
for name in members.people.values:
    member_names.append(name)

In [94]:
len(member_names)

2422

In [95]:
# unique names in main
keys = {}

for name in names:
    #finding closest math to main data from larger 'members data'
    keys[name] = ((process.extract(name, member_names, limit=2)))

In [96]:
keys

{'Susie Lee': [('Susie Lee', 100), ('Ralph Abraham, Lee', 86)],
 'Alan S. Lowenthal': [('Alan Lowenthal, S.', 95), ('Alan Bible', 86)],
 'Mo Brooks': [('Mo Brooks', 100), ('Jack Brooks, B.', 86)],
 'Robert J. Wittman': [('Robert Wittman, J.', 95), ('J. Beall', 86)],
 'Lois Frankel': [('Lois Frankel', 100), ('Al Franken', 73)],
 'Michael T. McCaul': [('Michael McCaul, T.', 95),
  ('Michael McNulty, R.', 75)],
 'Suzan K. DelBene': [('Suzan DelBene, K.', 95), ('John Delaney, K.', 59)],
 'Greg Gianforte': [('Greg Gianforte', 100), ('Greg Ganske', 72)],
 'Lloyd K. Smucker': [('Lloyd Smucker', 95), ('Floyd Haskell, K.', 64)],
 'Earl Blumenauer': [('Earl Blumenauer', 100), ('Earl Hutto', 86)],
 'James Comer': [('James Comer', 100), ('James Broyhill, T.', 86)],
 'James R. Langevin': [('James Langevin, R.', 95), ('James Comer', 86)],
 'Anthony E. Gonzalez': [('Anthony Gonzalez', 95), ('E. Garn', 86)],
 'Josh Gottheimer': [('Josh Gottheimer', 100), ('Joshua Eilberg', 62)],
 'Katherine M. Clark': [('Katherine Clark, M.', 95), ('Dick Clark', 86)],
 'David B. McKinley': [('David McKinley, B.', 95), ('David Davis', 86)],
 'Nancy Pelosi': [('Nancy Pelosi', 100), ('Nancy Kassebaum, Landon', 86)],
 'Steve Cohen': [('Steve Cohen', 100), ('Steve Southerland, II', 86)],
 'Gerald E. Connolly': [('Gerald Connolly, E.', 95), ('Gerald Ford', 86)],
 'Lloyd Doggett': [('Lloyd Doggett', 100), ('William Scott, Lloyd', 86)],
 'John Curtis': [('John Curtis, R.', 95), ('John Baldacci, Elias', 86)],
 'Trey Hollingsworth': [('Trey Hollingsworth', 100), ('Trey Gowdy', 86)],
 'Kathy Manning': [('Kathy Manning, E.', 95), ('Marvin Leath', 61)],
 'Sean Patrick Maloney': [('Sean Maloney, Patrick', 95), ('Sean Casten', 86)],
 'Michael K. Simpson': [('Michael Simpson, K.', 95), ('Alan Simpson, K.', 74)],
 'Greg Steube': [('W. Steube, Gregory', 86), ('Greg Pence', 67)],
 'Mark Dr Green': [('Mark Green', 95), ('Al Green', 86)],
 'Hakeem S. Jeffries': [('Hakeem Jeffries, S.', 95), ('Jim Jeffries', 86)],
 'Rohit Khanna': [('Ro Khanna', 86), ('Richard Hanna, T.', 64)],
 'Christopher L. Jacobs': [('L. Bafalis', 86), ('David Boren, L.', 86)],
 'Billy Long': [('Billy Long', 100), ('Billy Evans, Lee', 86)],
 'Grace Meng': [('Grace Meng', 100), ('Grace Napolitano, F.', 86)],
 'eter Meijer': [('Peter Meijer', 96), ('Peter Smith', 64)],
 'Richard W. Allen': [('Allen Boyd', 86), ('W. Daniel', 86)],
 'James E Hon Banks': [('Jim Banks', 86), ('James Comer', 86)],
 'Debbie Dingell': [('Debbie Dingell', 100), ('Debbie Mucarsel-Powell', 86)],
 'Neal Patrick MD, Facs Dunn': [('Jennifer Dunn', 86), ('Jim Dunn', 86)],
 'Fred Upton': [('Fred Upton', 100), ('Fred Thompson', 70)],
 'Doug Lamborn': [('Doug Lamborn', 100), ('Doug Ose', 86)],
 'Peter J. Visclosky': [('Peter Visclosky, J.', 95), ('Peter Barca', 86)],
 'George Holding': [('George Holding', 100), ('George Darden, (Buddy)', 86)],
 'Bob Gibbs': [('Bob Gibbs', 100), ('Bob Livingston', 86)],
 'Sara Jacobs': [('Sara Jacobs', 100), ('Andrew, Jacobs, Jr.', 86)],
 'Dwight Evans': [('Dwight Evans', 100), ('Lane Evans', 64)],
 'Francis Rooney': [('Francis Rooney', 100), ('Rodney Davis', 66)],
 'Dean Phillips': [('Dean Phillips', 100), ('Dean Heller', 67)],
 'Peter Welch': [('Peter Welch', 100), ('Peter Dominick, H.', 86)],
 'Ed Case': [('Ed Case', 100), ('Clifford Case, P.', 86)],
 'Marie Newman': [('Marie Newman', 100), ('Ann Buerkle, Marie', 86)],
 'James French Hill': [('J. Hill, French', 87), ('James Comer', 86)],
 'Gilbert Cisneros': [('Gilbert Cisneros', 100), ('Gilbert Gude', 70)],
 'K. Michael Conaway': [('K. Conaway, Michael', 95),
  ('Michael Honda, M.', 71)],
 'Zoe Lofgren': [('Zoe Lofgren', 100), ('Doug Walgren', 61)],
 'Brian Mast': [('Brian Mast, J.', 95), ('Brian Bilbray, P.', 86)],
 'John A. Yarmuth': [('John Yarmuth, A.', 95), ('John Camp', 86)],
 'Kurt Schrader': [('Kurt Schrader', 100), ('Kim Schrier', 67)],
 'Neal Patrick MD, FACS Dunn': [('Jennifer Dunn', 86), ('Jim Dunn', 86)],
 'Mark Green': [('Mark Green', 100), ('Mark Green, E.', 95)],
 'John Rutherford': [('John Rutherford, H.', 95), ('John Camp', 86)],
 'James E. Banks': [('Jim Banks', 86), ('Charles Chamberlain, E.', 86)],
 'Donald Sternoff Beyer': [('Donald Beyer', 86), ('Donald Payne', 86)],
 'Kevin Hern': [('Kevin Hern', 100), ('Kevin Yoder', 76)],
 'Tom Malinowski': [('Tom Malinowski', 100), ('Tom Cole', 86)],
 'Bradley S. Schneider': [('Bradley Schneider, Scott', 89),
  ('Alma Adams, S.', 86)],
 'Mike Kelly': [('Mike Kelly', 100), ('Kelly Armstrong', 86)],
 'Tom Rice': [('Tom Rice', 100), ('Tom Price', 94)],
 'Susan A. Davis': [('Susan Davis, A.', 95), ('Kathleen Dahlkemper, A.', 86)],
 'Michael Garcia': [('Michael Fitzpatrick, G.', 86),
  ('Michael Flanagan, Patrick', 86)],
 'Virginia Foxx': [('Virginia Foxx', 100), ('Virginia Smith', 72)],
 'David E. Price': [('David Price, E.', 95), ('Charles Chamberlain, E.', 86)],
 'Nicholas Van Taylor': [('Van Taylor', 90), ('Van Hilleary', 86)],
 'Joe Courtney': [('Joe Courtney', 100), ('Joe Baca', 86)],
 'Mikie Sherrill': [('Mikie Sherrill', 100), ('Katie Hill', 67)],
 'Debbie Wasserman Schultz': [('Schultz, Wasserman, Debbie', 95),
  ('Debbie Dingell', 86)],
 'Ed Perlmutter': [('Ed Perlmutter', 100), ('Ed Case', 86)],
 'Andrew Garbarino': [('Andrew Garbarino, R.', 95), ('E. Garn', 71)],
 'Kim Schrier': [('Kim Schrier', 100), ('Jay Kim', 86)],
 'Charles J. "Chuck" Fleischmann': [('Donald Albosta, J.', 86),
  ('Alvin Baldus, J.', 86)],
 'Pete Sessions': [('Pete Sessions', 100), ('Douglas Peterson, (Pete)', 86)],
 'W. Greg Steube': [('W. Daniel', 86), ('W. Hefner', 86)],
 'Michael John Gallagher': [('John Adler, H.', 86), ('John Ashcroft', 86)],
 'Ashley Hinson Arenholz': [('Ashley Hinson', 90), ('Jon Hinson, C.', 86)],
 'Daniel Crenshaw': [('Dan Crenshaw', 89), ('W. Daniel', 86)],
 'Garret Graves': [('Garret Graves', 100), ('Sam Graves', 71)],
 'Deborah K. Ross': [('Deborah Ross, K.', 95), ('Mike Ross', 86)],
 'Kathy Castor': [('Kathy Castor', 100), ('Troy Carter', 61)],
 'Michael Patrick Guest': [('Michael Blouin', 86), ('Michael Cloud', 86)],
 'Robert E. Latta': [('Robert Latta, E.', 95), ('E. Garn', 86)],
 "Tom O'Halleran": [("Tom O'Halleran", 100), ('Tom Cole', 86)],
 'David P. Roe': [('David Roe, P.', 95), ('Christopher Carney, P.', 86)],
 'Neal Patrick Dunn MD, FACS': [('Jennifer Dunn', 86), ('Jim Dunn', 86)],
 'Adam Kinzinger': [('Adam Kinzinger', 100), ('Pat Danner', 58)],
 'William R. Timmons': [('William Timmons', 95), ('William Dorn', 86)],
 'Cheri Bustos': [('Cheri Bustos', 100), ('Cori Bush', 67)],
 'Kenny Marchant': [('Kenny Marchant', 100), ('Martha Keys, E.', 64)],
 'Marjorie Taylor Greene': [('Marjorie Greene, Taylor', 95),
  ('G. Taylor', 86)],
 'Doris O. Matsui': [('Doris Matsui, O.', 95), ('Robert Matsui, T.', 66)],
 'Daniel Meuser': [('Daniel Meuser', 100), ('David Marriott, Daniel', 86)],
 'Scott H. Peters': [('Scott Peters, H.', 95),
  ('Bradley Schneider, Scott', 86)],
 'Harley E. Rouda': [('Harley Rouda', 95), ('E. Garn', 86)],
 'David Trone': [('David Trone, J.', 95), ('David Cicilline, N.', 86)],
 'Donald Sternoff Honorable Beyer': [('Donald Albosta, J.', 86),
  ('Donald Bailey, A.', 86)],
 'Austin Scott': [('Austin Scott', 100), ('C. Franklin, Scott', 86)],
 'Matt Gaetz': [('Matt Gaetz', 100), ('Matt Cartwright', 86)],
 'Roger W. Marshall': [('Roger Marshall, W.', 95), ('W. Daniel', 86)],
 'Judy Chu': [('Judy Chu', 100), ('Judy Biggert', 86)],
 'Joseph P. Kennedy': [('Joseph Kennedy', 95), ('Joseph Kennedy', 95)],
 'Susan W. Brooks': [('Susan Brooks, W.', 95), ('Mo Brooks', 86)],
 'Donna Shalala': [('Donna Shalala, E.', 95), ('Donna Christensen, M.', 86)],
 'William R. Keating': [('William Keating, R.', 95),
  ('William Keating, J.', 89)],
 'Linda T. Sanchez': [('Linda Sanchez, T.', 95), ('Loretta Sanchez', 65)],
 'David Cheston Rouzer': [('David Davis', 86), ('David Dreier', 86)],
 'Carol Devine Miller': [('Carol Miller, D.', 87), ('Brad Miller', 86)],
 'Joseph D. Morelle': [('Joseph Morelle, D.', 95), ('Jon Fox, D.', 86)],
 'Patrick T. McHenry': [('Patrick McHenry, T.', 95), ('Patrick Meehan', 69)],
 'Harold Dallas Rogers': [('Harold Ford', 86), ('Harold Rogers', 86)],
 'David Kustoff': [('David Kustoff', 100), ('David Marriott, Daniel', 86)],
 'Gus M. Bilirakis': [('Gus Bilirakis, M.', 95), ('Gus Savage', 86)],
 'Frank Pallone': [('Frank, Pallone, Jr.', 95),
  ('Frank Stubblefield, A.', 86)],
 'Bill Pascrell': [('Bill, Pascrell, Jr.', 95), ('Bill Posey', 70)],
 'Scott Franklin': [('C. Franklin, Scott', 95),
  ('Bradley Schneider, Scott', 86)],
 'Victoria Spartz': [('Victoria Spartz', 100), ('Cori Bush', 60)],
 'cott Franklin': [('C. Franklin, Scott', 86), ('William Franklin, W.', 72)],
 'Elaine Luria': [('Elaine Luria, G.', 95), ('Madeleine Bordallo, Z.', 60)],
 'Bill Flores': [('Bill Flores', 100), ('Bill, Chappell, Jr.', 86)],
 'John B. Larson': [('John Larson, B.', 95), ('John Camp', 86)],
 'Robert C. "Bobby" Scott': [('Robert Brady, A.', 86), ('Bobby Bright', 86)],
 'Tim Burchett': [('Tim Burchett', 100), ('Tim Ryan', 86)],
 'Thomas Massie': [('Thomas Massie', 100), ('Thomas Perriello, S.P.', 86)],
 'James Hagedorn': [('Jim Hagedorn', 85), ('James Abdnor', 77)],
 'Justin Amash': [('Justin Amash', 100), ('Juan Vargas', 61)],
 'Shelley M Capito': [('Shelley Capito, Moore', 88), ('M. Snyder', 86)],
 'Jerry Moran,': [('Jerry Moran', 100), ('Jerry Costello, F.', 86)],
 'John Boozman': [('John Boozman', 100), ('John Baldacci, Elias', 86)],
 'William F Hagerty, Iv': [('William Carney', 86), ('William Dorn', 86)],
 'Thomas R Carper': [('Thomas Carper, R.', 95), ('Thomas MacArthur', 71)],
 'Ron L Wyden': [('Ron Wyden', 95), ('William Armstrong, L.', 86)],
 'Gary C Peters': [('Gary Peters, C.', 95), ('Anthony Beilenson, C.', 86)],
 'Ladda Tammy Duckworth': [('Tammy Duckworth', 95), ('Tammy Baldwin', 86)],
 'Daniel S Sullivan': [('W. Daniel', 86), ('Ted Yoho, S.', 86)],
 'John W Hickenlooper': [('John Hickenlooper, W.', 95), ('John Barrow', 86)],
 'A. Mitchell Mcconnell, Jr.': [('Jerome Ambro, A.', 86),
  ('Donald Bailey, A.', 86)],
 'Patrick J Toomey': [('J. Beall', 86), ('Michael Flanagan, Patrick', 86)],
 'James M Inhofe': [('James Inhofe, M.', 95),
  ('Theodore Risenhoover, M.', 86)],
 'Susan M Collins': [('Susan Collins, M.', 95),
  ('Theodore Risenhoover, M.', 86)],
 'Pat Roberts': [('Pat Roberts', 100), ('Ray Roberts', 82)],
 'Jacklyn S Rosen': [('Jacky Rosen', 85), ('Ronny Jackson', 61)],
 'William Cassidy': [('Bill Cassidy', 81), ('William Carney', 76)],
 'Sheldon Whitehouse': [('Sheldon Whitehouse', 100), ('Don Ritter', 63)],
 'Angus S King, Jr.': [('Angus King', 86), ('Steve King', 86)],
 'Kelly Loeffler': [('Kelly Loeffler', 100), ('Tom Loeffler', 76)],
 'Timothy M Kaine': [('Tim Kaine', 86), ('Theodore Risenhoover, M.', 86)],
 'David A Perdue , Jr': [('David Davis', 86), ('David Dreier', 86)],
 'Roger F Wicker': [('Roger Wicker, F.', 95), ('Barbara Vucanovich, F.', 86)],
 'Tina Smith': [('Tina Smith', 100), ('Cindy Hyde-Smith', 86)],
 'John Hoeven': [('John Hoeven', 100), ('John Baldacci, Elias', 86)],
 'Roy Blunt': [('Roy Blunt', 100), ('Rochester, Blunt, Lisa', 86)],
 'John N Kennedy': [('John Kennedy', 95), ('John Camp', 86)],
 'Rafael E Cruz': [('Charles Chamberlain, E.', 86), ('Ted Cruz', 86)],
 'Christopher A Coons': [('Christopher Coons, A.', 95), ('A. Ferguson', 86)],
 'Thomas Udall': [('E. Coleman, Thomas', 86), ('Thomas Eagleton, F.', 86)],
 'John F Reed': [('John Baldacci, Elias', 86), ('Dewey Bartlett, F.', 86)],
 'Mark R Warner': [('Mark Warner, R.', 95), ('William Ratchford, R.', 86)],
 'Thomas R Tillis': [('Thom Tillis', 85), ("Thomas O'Neill", 76)],
 'Robert P Casey, Jr.': [('Bob Casey', 86), ('Robert Casey', 86)],
 'Tammy Duckworth': [('Tammy Duckworth', 100), ('Tammy Baldwin', 57)],
 'Michael F Bennet': [('Michael Bennet, F.', 95),
  ('Michael Flanagan, Patrick', 86)],
 'Patty Murray': [('Patty Murray', 100), ('Patrick Murphy', 62)],
 'Joseph Manchin, Iii': [('Joe, Manchin, III', 89), ('Joseph Biden', 86)],
 'Chris Van Hollen': [('Hollen, Van, Chris', 95), ('Chris Bell', 86)],
 'John Cornyn': [('John Cornyn', 100), ('John Baldacci, Elias', 86)],
 'Maria Cantwell': [('Maria Cantwell', 100), ('Maria Salazar, Elvira', 86)],
 'Michael  B Enzi': [('Michael Enzi, B.', 95),
  ('Michael Flanagan, Patrick', 86)],
 'Benjamin L Cardin': [('Benjamin Cardin, L.', 95), ('L. Bafalis', 86)],
 'Cory A Booker': [('Cory Booker, A.', 95), ('Christopher Coons, A.', 86)]}

In [97]:
#where scores live
# for i in range(1, 173):
#     print(keys[i][1][1])

In [100]:
merge_key = [keys[name][0][0] for name in main['representative']]

In [101]:
main['merge_key'] = merge_key

In [103]:
main.merge(members, how = 'left', left_on = 'merge_key', right_on='people')

,Unnamed: 0,transaction_date,ticker,asset_description,type,amount,representative,merge_key,people,state,party,total_senate_years,total_house_years,total_years
0,4,2020-03-18,CBRE,CBRE Group Inc Common Stock Class A,sale_partial,"$1,001 - $15,000",Susie Lee,Susie Lee,Susie Lee,Nevada,Democratic,0,2,2
1,5,2020-03-24,CNC,Centene Corporation,purchase,"$1,001 - $15,000",Susie Lee,Susie Lee,Susie Lee,Nevada,Democratic,0,2,2
2,6,2020-03-31,DG,Dollar General Corporation,purchase,"$1,001 - $15,000",Susie Lee,Susie Lee,Susie Lee,Nevada,Democratic,0,2,2
3,10,2020-02-21,ENV,"Envestnet, Inc",sale_partial,"$1,001 - $15,000",Susie Lee,Susie Lee,Susie Lee,Nevada,Democratic,0,2,2
4,12,2020-03-17,LKQ,LKQ Corporation,sale_partial,"$1,001 - $15,000",Susie Lee,Susie Lee,Susie Lee,Nevada,Democratic,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13218,8319,2014-01-29,C,"Citigroup, Inc. (NYSE)",sale_partial,"$1,001 - $15,000",Susan M Collins,"Susan Collins, M.","Susan Collins, M.",Maine,Republican,24,0,24
13219,8320,2014-01-28,EBAY,eBay Inc. (NASDAQ),sale_partial,"$1,001 - $15,000",Susan M Collins,"Susan Collins, M.","Susan Collins, M.",Maine,Republican,24,0,24
13220,8321,2014-01-24,FB,"Facebook, Inc. (NASDAQ)",purchase,"$1,001 - $15,000",Susan M Collins,"Susan Collins, M.","Susan Collins, M.",Maine,Republican,24,0,24
13221,8322,2014-01-24,CRM,"Salesforce.com, Inc (NYSE)",purchase,"$1,001 - $15,000",Susan M Collins,"Susan Collins, M.","Susan Collins, M.",Maine,Republican,24,0,24
13222,8323,2014-01-24,GE,General Electric Company (NYSE),sale_partial,"$1,001 - $15,000",Susan M Collins,"Susan Collins, M.","Susan Collins, M.",Maine,Republican,24,0,24

In [104]:
main.to_csv('./data/megan_senate_house_merged_years_served.csv', index=False)