In [84]:
import pandas as pd

In [85]:
house = pd.read_csv('data/house_stocks.csv')
senate = pd.read_csv('data/senate_stocks.csv')
donations = pd.read_csv('data/congress_donations.csv')

In [86]:
senate['transaction_date'] = pd.to_datetime(senate['transaction_date'])
senate.drop(columns = ['asset_type', 'comment', 'ptr_link'], inplace=True)
senate['representative'] = senate['senator']
senate.drop(columns = 'senator', inplace = True)
senate.loc[senate['type'] == 'Purchase', 'type'] = 'purchase'
senate.loc[senate['type'] == 'Sale (Full)', 'type'] = 'sale_full'
senate.loc[senate['type'] == 'Sale (Partial)', 'type'] = 'sale_partial'
senate.loc[senate['type'] == 'Exchange', 'type'] = 'exchange'

In [87]:
house['transaction_date'] = pd.to_datetime(house['transaction_date'])
house.drop(columns = ['disclosure_year', 'disclosure_date', 'district', 'ptr_link', 'cap_gains_over_200_usd'], inplace = True)
house['representative'] = [rep[5:] for rep in house['representative']]

In [88]:
donations['party'] = [name[-2] for name in donations['Name']]
donations.columns = donations.columns.str.lower().str.replace(' ','_')
donations['name'] = [name[:-4] for name in donations['name']]

In [89]:
def clean_name(name):
    first = name.split()[0]
    second = name.split()[1:]
    first_rev = first[::-1]
    for i, let in enumerate(first_rev):
        if let == let.upper():
            index = i
            break
    first = first[-(i+1):]
    second.insert(0,first)
    new = ' '.join(second)
    return new

In [90]:
donations['name'] = [clean_name(name) for name in donations['name']]

In [91]:
pd.merge(left = house, right = donations, how = 'inner', left_on = 'representative', right_on = 'name')

,transaction_date,owner,ticker,asset_description,type,amount,representative,name,total_raised,total_from_small_donors,percent_from_small_donors*,total_money_raised,party
0,2020-02-24,joint,BHC,Bausch Health Companies Inc.,purchase,"$1,001 - $15,000",Susie Lee,Susie Lee,$4748019,$284775,6.00%,Raised over $100k,D
1,2020-03-06,joint,BAH,Booz Allen Hamilton Holding Corporation,sale_full,"$1,001 - $15,000",Susie Lee,Susie Lee,$4748019,$284775,6.00%,Raised over $100k,D
2,2020-03-23,joint,BYD,Boyd Gaming Corporation,sale_full,"$1,001 - $15,000",Susie Lee,Susie Lee,$4748019,$284775,6.00%,Raised over $100k,D
3,2020-02-04,joint,CTLT,"Catalent, Inc.",purchase,"$1,001 - $15,000",Susie Lee,Susie Lee,$4748019,$284775,6.00%,Raised over $100k,D
4,2020-03-18,joint,CBRE,CBRE Group Inc Common Stock Class A,sale_partial,"$1,001 - $15,000",Susie Lee,Susie Lee,$4748019,$284775,6.00%,Raised over $100k,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4922,2021-04-22,self,--,"MDLIVE, INC",sale_full,"$50,001 - $100,000",Mario Diaz-Balart,Mario Diaz-Balart,$1590134,$2606,0.16%,Raised over $100k,R
4923,2020-07-14,--,TSLA,"Tesla, Inc.",sale_partial,"$15,001 - $50,000",Thomas Massie,Thomas Massie,$1457316,$426531,29.27%,Raised over $100k,R
4924,2020-03-18,dependent,DIS,Walt Disney Company,purchase,"$15,001 - $50,000",Justin Amash,Justin Amash,$1001120,$545077,54.45%,Raised over $100k,L
4925,2020-03-18,dependent,DIS,Walt Disney Company,purchase,"$1,001 - $15,000",Justin Amash,Justin Amash,$1001120,$545077,54.45%,Raised over $100k,L
4926,2020-03-18,dependent,DIS,Walt Disney Company,purchase,"$1,001 - $15,000",Justin Amash,Justin Amash,$1001120,$545077,54.45%,Raised over $100k,L

In [92]:
dfmerge = pd.merge(left = df, right = donations, how = 'inner', left_on = 'representative', right_on = 'name')

In [93]:
df = pd.concat([house, senate])
df.drop(columns = ['owner'], inplace = True)
df

,transaction_date,ticker,asset_description,type,amount,representative
0,2020-02-24,BHC,Bausch Health Companies Inc.,purchase,"$1,001 - $15,000",Susie Lee
1,2020-03-06,BAH,Booz Allen Hamilton Holding Corporation,sale_full,"$1,001 - $15,000",Susie Lee
2,2020-03-23,BYD,Boyd Gaming Corporation,sale_full,"$1,001 - $15,000",Susie Lee
3,2020-02-04,CTLT,"Catalent, Inc.",purchase,"$1,001 - $15,000",Susie Lee
4,2020-03-18,CBRE,CBRE Group Inc Common Stock Class A,sale_partial,"$1,001 - $15,000",Susie Lee
...,...,...,...,...,...,...
8551,2012-08-17,NaN,This filing was disclosed via scanned PDF. Use...,NaN,Unknown,Sheldon Whitehouse
8552,2012-08-16,NaN,This filing was disclosed via scanned PDF. Use...,NaN,Unknown,Pat Roberts
8553,2012-08-15,NaN,This filing was disclosed via scanned PDF. Use...,NaN,Unknown,Robert J Portman
8554,2012-08-02,NaN,This filing was disclosed via scanned PDF. Use...,NaN,Unknown,Thomas R Carper
8555,2012-07-25,NaN,This filing was disclosed via scanned PDF. Use...,NaN,Unknown,Benjamin L Cardin

In [94]:
df.dropna(inplace=True)
df.drop(df[df.ticker.str.contains('-')].index, inplace = True)
df.drop(df[df.ticker.str.contains('\.')].index, inplace = True)

In [95]:
df.to_csv('data/senate_and_house.csv')