In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/final_dataset.csv')

In [4]:
# List of columns for percentage difference calculations
stocks = df[['day_30', 'day_60', 'day_90', 'day_180']]
sp = df[['sp_30', 'sp_60', 'sp_90', 'sp_180']]

In [5]:
# Calculate percentage difference data
stock_perc = [round((df[i]/df['start']) - 1,3) for i in stocks.columns]
sp_perc = [round((df[i]/df['sp_start']) - 1,3) for i in sp.columns]

In [6]:
# Create stock percentage difference columns
for i,col in enumerate(stocks.columns):
    df[col+'_stock_perc_diff'] = stock_perc[i]

In [7]:
# Create S&P percentage difference columns
for i,col in enumerate(sp.columns):
    df[col+'_sp_perc_diff'] = sp_perc[i]

In [8]:
# Create title holder variable
titles = list(df.columns)
# Rearrange pertinent columns
titles[24],titles[25],titles[26],titles[27],titles[28],titles[29],titles[30],titles[31],titles[32],\
titles[33],titles[34],titles[35],titles[36],titles[37],titles[38],titles[39],titles[40] =\
titles[24],titles[33],titles[25],titles[34],titles[26],titles[35],titles[27],titles[36],titles[28],\
titles[29],titles[37],titles[30],titles[38],titles[31],titles[39],titles[32],titles[40]

In [9]:
# Assign rearranged columns
df = df[titles]
# Display new columns in order
df[df.columns[23:]].head()

,start,day_30,day_30_stock_perc_diff,day_60,day_60_stock_perc_diff,day_90,day_90_stock_perc_diff,day_180,day_180_stock_perc_diff,sp_start,sp_30,sp_30_sp_perc_diff,sp_60,sp_60_sp_perc_diff,sp_90,sp_90_sp_perc_diff,sp_180,sp_180_sp_perc_diff
0,35.520000,44.500000,0.253,39.090000,0.101,46.740002,0.316,46.910000,0.321,2398.100098,2874.560059,0.199,2953.909912,0.232,3097.739990,0.292,3340.969971,0.393
1,48.730000,69.239998,0.421,64.839996,0.331,63.360001,0.300,61.130001,0.254,2447.330078,2797.800049,0.143,2955.449951,0.208,3083.760010,0.260,3319.469971,0.356
2,151.009995,175.300003,0.161,191.500000,0.268,189.479996,0.255,208.389999,0.380,2584.590088,2912.429932,0.127,3055.729980,0.182,3130.010010,0.211,3298.459961,0.276
3,78.989998,48.860001,-0.381,55.400002,-0.299,70.970001,-0.102,80.239998,0.016,3337.750000,2237.399902,-0.330,2799.310059,-0.161,2991.770020,-0.104,3389.780029,0.016
4,19.690001,19.840000,0.008,23.600000,0.199,25.980000,0.319,32.160000,0.633,2529.189941,2799.550049,0.107,2863.699951,0.132,3115.340088,0.232,3340.969971,0.321

In [12]:
df.drop(columns = ['Unnamed: 0', 'party_y', 'donation_merge_key', 
                          'people', 'name', 'merge_key'], inplace = True)

In [13]:
# Save updated DataFrame
df.to_csv('../data/stock_percentage_difference.csv', index=False)


References:
1. Rearrange Columns - https://www.youtube.com/watch?v=Hvf67c2YTUw